body{
    margin: 0;
    padding: 0;
    background-color: #EAF0F1;
}
nav{
    padding:0 2rem;
    box-shadow: 0 8px 6px -6px black;
    background-color: white;
}
.mx-1{
margin: 0 1rem;
}
.my-1{
    margin: 1rem 0;
}
.d-flex{    
    display: flex;
}
.col{
    flex-direction: column;
}
.row{
    flex-direction: row;
}

.center{
    justify-content: center;
    align-content: center;
}

main{
    margin : 5px 2rem;
    padding :2rem;
    background-color: white;
    border-radius: 10px;
}
.btn{
    align-content: center;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    max-width: 90px;
    height: 30px;
}
.btn:hover{

    box-shadow: 0 8px 6px -6px black;
}
.primary{
    background-color: green;
    color: white;
}
.info{
    background-color: blue;
    color: white;
}
.qwe{
    margin: 1rem;
}
.card{
    margin : 1rem 0;
    width : 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding :1rem;
}
.card>.title{
    font-size: 20px;
    font-weight: bold;
}
.card>.body{

}
.pointer{
    cursor: pointer;
}